<mat-toolbar color="primary">
    <span>
        <a routerLink="/">
            My Messages
        </a>
    </span>

    <span class="spacer"></span>
    <ul>
        <li *ngIf="userIsAuthenticated">
            <a mat-button routerLinkActive="active" routerLink="/create">
                New Post
            </a>
        </li>
        <li *ngIf="!userIsAuthenticated">
            <a mat-button routerLinkActive="active" routerLink="/auth/login">
                Login
            </a>
        </li>
        <li *ngIf="!userIsAuthenticated">
            <a mat-button routerLinkActive="active" routerLink="/auth/signup">
                Signup
            </a>
        </li>
        <li *ngIf="userIsAuthenticated">
            <button mat-button (click)="onLogout()">
                Logout
            </button>
        </li>
    </ul>
</mat-toolbar>