mat-form-field,
textarea {
  width: 100%;
}

mat-spinner {
  margin: auto;
}

form {
  padding: 30px;
}

button {
  padding: 10px;
  margin-bottom: 30px;
}

input[type="file"] {
  visibility: hidden;
}

.image-preview {
  height: 5rem;
  margin: 1rem 0;
}

.image-preview img {
  height: 100%;
}
