<mat-spinner *ngIf="isLoading"></mat-spinner>
<mat-accordion multi="true" *ngIf="posts.length > 0 && !isLoading">
    <mat-expansion-panel *ngFor="let post of posts">
        <mat-expansion-panel-header>
            {{ post.title }}
        </mat-expansion-panel-header>
        <div class="post-image">
            <img [src]="post.imagePath" [alt]="post.title">
        </div>
        <p>{{ post.content }}</p>
        <mat-action-row *ngIf="userIsAuthenticated && userId === post.creator">
            <a mat-button color="primary" [routerLink]="['/edit', post.id]">EDIT</a>
            <button mat-button color="warn" (click)="onDelete(post.id)">DELETE</button>
        </mat-action-row>
    </mat-expansion-panel>
</mat-accordion>

<mat-paginator [length]="totalPosts" [pageSize]="postsPerPage" [pageSizeOptions]="pageSizeOptions"
    (page)="onChangedPage($event)" *ngIf="posts.length > 0"></mat-paginator>
<p *ngIf="posts.length <= 0 && !isLoading" class=" mat-body-1 info-text">No Posts added yet!</p>